
p {
    font-weight: 600;
}
.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 55px;
    width: 1000px;
    background-color: #ecf4fe;
    border-radius: 30px;
    margin: 5px 0;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);

}
.coin-row:hover {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 300px;
    border-radius: 30px;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
    letter-spacing: 2px;
    font-weight: 600;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin-symbol {
    text-transform: uppercase;
}
.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 30px;
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 200px;
}

.coin-marketcap {
    width: 240px;
}

.coin-percent {
    width: 80px;
}
.red {
    color: #f00606
}
.green {
    color: #11d811;
}